{% extends 'base.html.twig' %}

{% block title %}Edit Duck{% endblock %}

{% block body %}
    <h1>Edit Duck</h1>
    <div>{{ form(form) }}</div>
    <a href="{{ path('app_dashboard') }}">back</a>
{% endblock %}
